html,body{
	margin: 0;
	padding: 0;
}

.box{
	position: relative;
	height: 500px;
	background-image: url(bg.png);
	background-size: 100% 600px;
	background-position: top-center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	box-shadow: 6px 6px 20px 0px;
}

.for{
	height: 563px;
	width: 1000px;
	background-image: url(sneaker1.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 60%;
  top: -20px;
}

.log{
	height: 500px;
	width: 500px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: middle bottom;
	position: absolute;
	left: calc(50% - 200px);
}

.s2{
  height: 808px;
  width: 300px;
  background-image: url(s2.png);
  background-repeat: no-repeat;
  background-position: middle bottom;
  position: absolute;
  left: 100px;
  top: -350px;
}

main{
	padding: 300px 0px 300px 0px;
	background-color: #f2e5ff;
	display: flex !important;
	justify-content: space-around;
	align-items: center;
}

.m{
	width: 20%;
	height: 20%;
	opacity: .3;
	transition: .3s;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	align-items: center;
	opacity: 0;

}

.m h1{
	color: #000;
font-family: 'Bebas Neue', cursive;
}

.mImg{
	width: 100%;
	height: 100%;
}

.m:hover{
	width: 22%;
	height: 22%;
	opacity: 1;
	transition: .3s;
	cursor: none;
}

@media (max-width:1000px){
  main {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 0px;
  }
}


html::-webkit-scrollbar { width: 0 !important }

.menu-burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 25px;
  z-index: 5;
}

.menu-burger {
  color: white;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
}
.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
  color: #232323;
}

.menu-items {
  position: fixed;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: .4s;
  transform: translateY(-200%);
  pointer-events: none;
  z-index: 2;
  background: white;
  padding-top: 15%;
  user-select: none;
}

.menu-items div {
  color: #232323;
  transition: 1s ease;
  opacity: 0;
  margin-top: 0px;
  z-index: 2;
}
.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
  z-index: 2;
}

.menu-items.fs div {
  opacity: 1;
  cursor: pointer;
  margin-top: 75px;
  z-index: 2;
  transition: .3s ease;
}

.menu-items.fs div:hover{
	
	transition: .3s ease;
}

.menu-items.fs div {
  position: relative;
  display: block;
  cursor: pointer;
}

.menu-items.fs div:before, .menu-items.fs div:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #232323;
}

.menu-items.fs div:before {
  left: -2.5px;
}
.menu-items.fs div:after {
  right: 2.5px;
  background: #232323;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu-items.fs div:hover:before {
  background: #232323;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu-items.fs div:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.m > h1 {
  text-shadow: 0px 0px 10px black;
  color: white;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(173, 92, 255, 0.3)!important;
}